<li>
	<h2>{{vm.security.name}} <small>{{vm.security.symbol.toUpperCase()}}</small></h2>
	<p class="price">{{vm.getPriceString()}}</p>

	<rjsdaq-price-age></rjsdaq-price-age>

	<ul class="quotes">
		<li ng-repeat="point in vm.priceHistoryGraph" ng-style="{'height': '{{point.height}}%'}">{{point.price}}¢</li>
	</ul>

	<section class="analytics">
		<h3>Change</h3>
		<p class="change" 
			 ng-class="{'increasing': vm.changePercentage > 0, 'decreasing': vm.changePercentage < 0}">
			{{vm.changeText}}
		</p>

		<h3>Trend</h3>
		<p class="trend decreasing">-36.5%</p>
	</section>
</li>