<div>
	<section class="console">

		<h1>The RJSDAQ</h1>
		<label for="sortKey">Sort by</label>
		<select id="sortKey">
			<option value="name">Name</option>
			<option value="price">Price</option>
		</select>
		<select id="sortOrder">
			<option value="asc">Ascending</option>
			<option value="desc">Descending</option>
		</select>

		<h2>My portfolio</h2>

		<p>You have <strong>$100.00</strong> in cash reserves</p>

		<section id="portfolio">
			<table>
				<tbody>
					<tr>
						<th>BNY</th>
						<td>101 units</td>
						<td>
							<input type="text" />
							<button class="buy" disabled="disabled">Buy</button>
							<button class="sell" disabled="disabled">Sell</button>
						</td>
					</tr>

					<tr>
						<th>FXS</th>
						<td>7 units</td>
						<td>
							<input type="text" value="5" />
							<button class="buy" data-tooltip="Cost: $3.85">Buy</button>
							<button class="sell" data-tooltip="Earn: $3.85">Sell</button>
						</td>
					</tr>

					<tr>
						<th>PCE</th>
						<td>0 units</td>
						<td>
							<input type="text" />
							<button class="buy" disabled="disabled">Buy</button>
							<button class="sell" disabled="disabled">Sell</button>
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<h2>Go public</h2>
		<p>You've earned it</p>

		<form id="goPublic">
			<input id="newSecurityName" placeholder="Name (eg. Alphabet soup)" type="text" />
			<input id="newSecuritySymbol" placeholder="Symbol (eg. ABC)" type="text" />
			<input disabled="disabled" type="submit" value="Go public!" />
		</form>
	</section>

	<ul id="securities" ng-repeat="security in vm.securities">
		<rjsdaq-security security="security"></rjsdaq-security>
	</ul>
</div>